bin/
build/
lib/*.a
data/
/timetable
wamped/.idea
wamped/.cproject
wamped/.project
wamped/.yotta.json
wamped/org.eclipse.cdt.codan.core.prefs
wamped/build
wamped/yotta_modules
wamped/yotta_targets
wamped/testbuild
wamped/source/test/node/node_modules
wamped/.python-version
wamped/source/test/python/env
wamped/native
wamped/crossbar/env
wamped/node.log
wamped/node.pid
wamped/mpack/*.o
wamped/mpack/*.swp
wamped/mpack/*.gcov
wamped/mpack//.sconsign.dblite
wamped/mpack//.sconf_temp/
wamped/mpack//config.log
wamped/mpack/mpack-test-file
wamped/mpack//mpack-test-dir/
wamped/mpack//tags
wamped/mpack//build
wamped/mpack//docs
wamped/mpack/*.suo
wamped/mpack/*.opensdf
wamped/mpack/*.sdf
wamped/mpack//projects/vs/Debug/
wamped/mpack//projects/vs/Release/
wamped/mpack/xcuserdata/
wamped/mpack/*.xcworkspace/
wamped/mpack/.DS_Store
wamped/mpack/.directory
wamped/mpack/.cproject
wamped/mpack/.project
wamped/mpack/.yotta.json
wamped/mpack/cmake_install.cmake
wamped/mpack/.idea
wamped/mpack/CMakeCache.txt
wamped/mpack/yotta_modules
wamped/mpack/yotta_targets
wamped/mpack/native
